img{
    width:200px;
}



body{
    color:#333333;
    font-family:'Times New Roman', Times, serif;
    max-width: 650px;
    margin:0 auto;
    padding:0 16px;
}

footer{
    background-color: rgba(82, 82, 82, 0.196);
    padding:15px;
    border:1px solid black;
    border-radius: 15px;
}

header{
    background-color: rgba(206, 190, 170, 0.799);
    padding: 12px;
    border:1px solid rgb(135, 127, 127);
    border-radius: 12px;
}

header a{
    text-decoration: none;
    font-size: 20px;
    margin:10px;
    color:rgb(183, 136, 76);
}